numpy
§pandas
matplotlib
scipy
cython
filelock
h5py
pyranges
cooler
#cooltools
#colorcet
#scikit-learn
#mock
#hicexplorer
#ucsc-bedgraphtobigwig
#ucsc-bigwigtobedgraph
#numba
#umap-learn
#seaborn
#mayavi
#bokeh
#holoviews
#datashader
# conda-build
