numpy
filelock
scipy
h5py
pandas
seaborn
matplotlib
pyranges
mayavi
#contextvars>=2.4
#mock
#tensorflow>=1.13.1
#hicexplorer
#hic2cool>=0.7.5
cooler
# higlass-python>=0.1.14 # requires python 3.7
#lapack>=3.8.0
#Blas>=3.6.1
scikit-learn
hicexplorer
ucsc-bedgraphtobigwig
ucsc-bigwigtobedgraph
#pybigwig>=0.3.17
#abrox
numba
umap-learn
datashader
bokeh
holoviews
colorcet
# conda-build
cooltools
cython